mat-card {
    margin:0.5rem;
}
.example-spacer {
    flex: 1 1 auto;
  }
  .flex {
      display: flex;
      padding-right: 1rem;
  }
  button {
      margin: 0.25rem;
  }

  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 20%;
  }
  .unsaved {
    background-color: lightsalmon;
    text-align: center;
    vertical-align: middle;
}