<div class="fieldContainer">
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>
    <mat-form-field >
      <mat-label>Columns</mat-label>
      <mat-select [(ngModel)]="columnsToDisplay" (selectionChange)="changeColumn()" multiple>
        <mat-select-trigger>
            <mat-chip-list aria-label="columns selection">
                <mat-chip *ngFor="let title of columnsToDisplay">{{title}}</mat-chip>
              </mat-chip-list>

          </mat-select-trigger>
        <mat-option *ngFor="let column of displayedColumns" [value]="column">{{column | spaceByUpperCase}}</mat-option>
      </mat-select>
    </mat-form-field>
</div>

<div class="mat-elevation-z8">
  <table mat-table
       [dataSource]="dataSource"
       multiTemplateDataRows
       cdkDropList
       cdkDropListOrientation="horizontal"
       (cdkDropListDropped)="drop($event)"
       matSort>
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay" >
    <th mat-header-cell  *matHeaderCellDef cdkDrag mat-sort-header> {{column | spaceByUpperCase}} </th> 
    <td mat-cell *matCellDef="let element"> {{ element[column] && element[column].hasOwnProperty('seconds')  ? (element[column].toDate() | date: 'dd/mm/yy MM:HH') : element[column] | parseString: 'short' }}
        <div *ngIf="column=='actions'" class="example-button-row">
            <button mat-icon-button *ngFor="let button of buttons" (click)="buttonClicked(button,element,$event)">
            <mat-icon>{{button}}</mat-icon>
          </button></div>
        </td>
  </ng-container>
  


  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div   *ngFor="let elementDetails of element | keyvalue">
            <strong >{{elementDetails.key | spaceByUpperCase}}: </strong>  {{elementDetails.value | parseString: 'long'}}
           
        </div>
      </div>
    </td>
  </ng-container>

    
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  
</table>
<div class="fieldContainer">
    <button mat-flat-button color="accent" (click)="export()"><mat-icon>save_alt</mat-icon>export data</button>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

</div>