<div class="title"><h1 mat-dialog-title>button{{" " + data.button.title}}</h1> <div>preview button: <button mat-button [matTooltip]="data.button.toolTip" [style.background]="data.button.color">{{data.button.title}}</button></div></div>
<div mat-dialog-content>
  <p>style your button</p>
    <mat-form-field class="example-full-width">
        <mat-label>title</mat-label>
        <input matInput placeholder="Ex. said yes" [(ngModel)]="data.button.title">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>toolTip</mat-label>
        <input matInput placeholder="Ex. click if answer is yes" [(ngModel)]="data.button.toolTip">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>color</mat-label>
        <input type="text" matInput [(ngModel)]="data.button.color"  [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" >
          <mat-option *ngFor="let option of options" [value]="option">
            <button mat-button [style.background]="option" color="primary">{{option}}</button>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <p>choose what what happans when user click the button</p>
      <label id="example-radio-group-label">button type</label>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="data.button.type">
        <mat-radio-button *ngFor="let type of buttonTypes" class="example-radio-button" [value]="type">
            {{type}}
        </mat-radio-button>
      </mat-radio-group>
        <mat-form-field appearance="standard" *ngIf="data.button.type=='שנה סטטוס'">
            <mat-label>status</mat-label>
            <mat-select [(ngModel)]="data.button.goTo" required>
            <mat-option *ngFor="let stat of statuses" [value]="stat">
                {{stat}}
            </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width" *ngIf="data.button.type=='שאלה אחרת'">
            <mat-label>index</mat-label>
            <input matInput placeholder="Ex. 2" [(ngModel)]="data.button.goTo">
          </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data.button" cdkFocusInitial [disabled]="data.button.title && data.button.title.length > 1 ? false : true">OK</button>
  <button mat-button [mat-dialog-close]="{button:data.button,type:'remove'}" cdkFocusInitial>delete</button>
</div>