<mat-card>
    <mat-card-title>
        <h1>create campaign</h1>
    </mat-card-title>
    <mat-card-content>
        <mat-form-field class="example-full-width">
            <mat-label>title</mat-label>
            <input matInput placeholder="Ex. Pizza" [(ngModel)]="campaign.title">
        </mat-form-field>
        <br>
        <mat-checkbox class="example-margin" [(ngModel)]="campaign.isActive" >is active</mat-checkbox>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>color</mat-label>
            <input matInput placeholder="Ex. Pizza" [(ngModel)]="campaign.color">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>discription</mat-label>
            <textarea matInput [(ngModel)]="campaign.discription" placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
    </mat-card-content>
    <mat-card-footer>
        <button mat-button (click)="addCampaign(campaign)"  *ngIf="!(campaign.id)" color="primary">add</button>
        <button mat-button (click)="updateCampaign(campaign)" *ngIf="campaign.id" color="primary">save</button>
        <button mat-button (click)="addQuestion()" color="primary">add question</button>
    </mat-card-footer>
</mat-card>


    <div *ngFor="let qusetion of questions">
        <app-question  [qusetion]="qusetion" [workspace]="workspace.id" [campaignID]="campaignID"></app-question>
    </div>
